*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;

}
.header{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(99, 100, 97, 0.7),rgba(66, 71, 65, 0.7));
    background-position:centre;
    background-size:cover;
    position: relative;
}

.back-video{
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;

}

nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: centre;
}
nav img{
    width: 100px;
}
.nav-links{
    flex:1;
    text-align:right;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
.nav-links ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 20px;
}
.nav-links ul li::after{
    content: '';
    width:0%;
    height:2px;
    background:#fcfcfc;
    display: block;
    margin: auto;
    transition: 0.5s;
}
.nav-links ul li:hover::after{
    width: 100%;

}
.text-box{
    width:90%;
    color:#ffffff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}

.text-box h1{
    font-size: 60px;
}
.text-box h2{
    margin: 10px 0 40x;
}
.hero-btn{
    display: inline-block;
    text-decoration:none;
    color: #030303;
    border: 1px solid #040404;
    padding: 12px 34px;
    font-size: 15px;
    background: transparent;
    position: relative;
    cursor: pointer;
    
}
.hero-btn:hover{
    border: 1px solid #5f5d5a;
    background:#403e3a;
    transition:2s;
}

nav .fa{
    display: none;
}
@media(max-width:700px){
    .text-box h1{
        font-size: 20px;
    }
    .text-box h2{
        margin: 10px 0 40x;
        font-size: 15px;
    }
.nav-links ul li{
    display:block;
}
.nav-links{
    position:fixed;
    background: #90d876;
    height: 100vh;
    width:200px;
    top: 0;
    right:-200px;
    text-align: left;
    z-index: 2;
    transition: 1s;
}
nav.fa{
    display: block;
    color: #fff;
    margin: 10px;
    font-size: 22px;
    cursor: pointer;
}
.nav-links ul{
    padding: 40px;
}
}
/*-----about us--------*/
.about{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}
.row{
    margin-top:5%;

    display:flex;
    justify-content: space-between;
}
.about-col{
    flex:33.33%;
    background: #c3f993;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;

}
@media(max-width:700px){
    .row{
        flex-direction:column;
    }
}

/*gallery*/
.gallery{
    width:90%;
    margin-left:70px;
     text-align: center;
    padding-top: 50px;
}

.gallery-col{
flex-basis:50%;
border-radius: 10px;
margin-bottom: 5%;
text-align: center;

}
.gallery-col img{
    width:90%;
    border-radius: 10px;
}
 

 /*---volunteers----*/
 .volunteers{
    width:80%;
    margin:auto;
    text-align: center;
    padding-top: 100px;
 }

 .volunteers-col{
    flex-basis:50%;
    border-radius: 10px;
    margin-bottom: 5%;
    text-align: center;

 }
 .volunteers-col img{
    width:90%;
    border-radius: 10px;

 }

 .contact{
    margin: 100px auto;
    width: 80%;
    background-image: linear-gradient(rgba(183, 242, 132, 0.7),rgba(0,0,0,0.7)),url(images/homeless.jpg);
    background-position: center;
    background-size: cover;
    background-color: #def7c8;
    border-radius: 10px;
    text-align: center;
    padding: 100px 0;
 }


 .contact h1{
    color: #fff;
    font-size: 50px;
    margin-bottom: 40px;
    padding: 0;
 }
 .contact h4{
    color: #fff;
    font-size: 25px;
    margin-bottom: 40px;
    padding: 0;
 }

 @media(max-width:700px){
    .contact h1{
        font-size: 24px;
    }
    .contact h4{
        font-size: 12px;
    }
 }

 .footer{
    width:100%;
    text-align:center;
    padding: 30px 0;
    background-color: #def7c8;
 }

 .footer h2{
    margin-bottom: 25px;
    margin-top: 20px;
    font-weight: 600;
 }

 /*-----about us page---------*/

 .sub-header{
    height: 90vh;
    width: 100%;
    background-image: linear-gradient(rgba(130, 127, 123, 0.7),rgba(86, 83, 80, 0.7)),url(images/homeless.jpg);
    background-position: center;  
    background-size: cover;
    text-align: center;
    color:#fff;
    font-size: 40px;
 }
 
 .about{
    width:90%;
    margin-left:70px;
     text-align: center;
    
}
    

 .about-col{
    flex-basis:30%;
border-radius: 10px;
margin-bottom: 5%;
text-align: center;

 }
 .about-col img{
    width:90%;
    border-radius: 10px;
 }

 @media(max-width:700px){
    .row{
        flex-direction:column;
    }
}

.location{
    width: 80%;
    margin:auto;
    padding: 80px 0;
}
.location iframe{
width: 100%;

}

.contactus{
    width:80%;
    margin: auto;
    
}

.contactus-col{

    flex-basis: 50%;
    margin-bottom: 30px;

}

.contactus-col div{
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}

.inputBox{
    margin:0;
    padding:0;
    box-sizing: border-box;
    outline:none;
    border: none;
    text-transform: capitalize;
    transition: all .2s linear;
}
.donate{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px;
    min-height: 100vh;
    background-color: #b2d4df;
    padding-bottom: 70px;
}

.donate form{
    padding: 20px;
    width:700px;
    background: #fff;
    box-shadow: 0 5px 10px rgba(0,0,0,0.1);
    border-radius: 10px;
}

.donate form .row{
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

.donate form .row .col{
    flex: 1 1 250px;
}

.donate form .row .col .title{
    font-size: 20px;
    color:#000000;
    padding-bottom: 5px;
    text-transform: uppercase;
}
.donate form .row .col .inputBox{
    margin: 15px 0;
}

.donate form .row .col .inputBox span{

    margin-bottom: 10px;
    display: block;
}

.donate form .row .col .inputBox input{
    width: 90%;
    border: 1px solid #ccc;
    padding: 10px 10px;
    font-size: 13px;
    text-transform: none;
}

.donate form .row .col .inputBox input:focus{
    border:1px solid #000
}

.donate form .row .col .flex{
    display: flex;
    gap:10px;

}
.donate form .row .col .flex .inputBox{
    margin-top: 5px;
}

.donate form .row .col .inputBox img{
    height: 34px;
    filter: drop-shadow(0 0 0 1px #000);
}

.donate form .submit-btn{
    width: 100%;
    padding: 12px;
    font-size: 17px;
    background: #f2b46e;
    color:#000;
    margin-top: 5px;
    cursor: pointer;
}

.donate form .submit-btn:hover{
    background: #f6a253;
}

.contactus-col input, .contactus-col textarea{
    width: 100%;
    padding: 15px;
    margin-bottom: 17px;
    outline: none;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-sizing: border-box;
}

.contactus-col form .submit-btn{
    width: 100%;
    padding: 12px;
    font-size: 17px;
    background: #f2b46e;
    color:#000;
    margin-top: 5px;
    cursor: pointer;
}
